<include file="public:header"/>
<div class="page-group">
  <div class="page" id='addchoose'>
      <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" >
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">我的数据提问</h1>
    </header>    
  <div class="content">
   <form id="form">
      <div class="list-block">
      <ul>
      <li class="align-top">
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">选项</div>
          </div>
        </div>
      </li>

      <div id="myquestion">

      </div>
      <div id="results">

      </div>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-gender"></i></div>
          <div class="item-inner">
            <div class="item-input">
            <div class="row">
               <div class="col-50"> <p><a href="#" class="button" id="addquestion">添加</a></p></div>
               <div class="col-50"><p><a href="#" class="button button-danger" id="deletequestion">删除</a></p></div>
             </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
      <div class="content-block"></div>
        <a href="" class="button button-big button-fill button-success" id="submit">提交</a>
        </div>
      </div>
    </form>
    
  </div>
</div>
<include file="public:footer"/>
