<include file="public:header"/>
<style type="text/css">

</style>
<div class="page-group">
    <div id="index" class="page page-current">
    <nav class="bar bar-tab">          
<a class="tab-item active" href="#">
      <span class="icon icon-home"></span>
      <span class="tab-label">首页</span>
    </a>
    <a class="tab-item " href="__URL__/create">
      <span class="icon icon-star"></span>
      <span class="tab-label">创想</span>
    </a>
<a class="tab-item" href="__URL__/mine" >
      <span class="icon icon-me"></span>
      <span class="tab-label">我</span>
    </a>
</nav>
  
  <header class="bar bar-nav">
    <h1 class="title">底部无限滚动</h1>
  </header>
  <div class="content infinite-scroll " data-distance="100">
    <div class="list-block media-list">
      <ul class="list-container" style="font-color:black;">
        
      </ul>
    </div>
    <!-- 加载提示符 -->
    <div class="infinite-scroll-preloader">
      <div class="preloader">
      </div>
    </div>
  </div>
</div>
    </div>
<include file="public:footer"/>
