<include file="public:header"/>
<div class="page-group">
  <div class="page page-current" id='siyi'>
  <nav class="bar bar-tab">
	<a class="tab-item " href="__URL__/index">
      <span class="icon icon-home"></span>
      <span class="tab-label">首页</span>
    </a>
    <a class="tab-item active" href="#">
      <span class="icon icon-star"></span>
      <span class="tab-label">创想</span>
    </a>
	<a class="tab-item" href="__URL__/mine">
      <span class="icon icon-me"></span>
      <span class="tab-label">我</span>
    </a>
</nav>
      <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" >
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">我的数据提问</h1>
    </header>    
  <div class="content">
  	    <div class="content-block">
     	  <div class="row">
            <div class="col-50"><h4><a href="#" id="public" class="button button-type button-danger">公开问题</a></h4></div>
          	<div class="col-50"><h4><a href="#" id="personal" class="button button-type button-dark">私人问题</a></h4></div>
        </div>
      </div>
    </div>


  </div>
</div>    
<include file="public:footer"/>